html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #F5F5F5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
  
  }
  .menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;

}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px; 
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 40px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;

}
  
.logo{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  margin-right: 25px;
}



.box-itens{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F5F5F5;

}

.box-itens li{
  width: 24%;
  padding: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
  

}
.box-itens li div{
  height: 200px;
  align-content: center;
  margin: 0 auto;
  

}
.box-itens li div img{
  height: 100%;
 
  
}

.box-itens li h2{
  font-size: 14px;
  
  

}
.box-itens li button{
  border-radius: 5px;
  font-size: larger;
  background-color: #4c6ef5;
  height: 50px;
  padding: 10px;
  border: none;
  
}
button a{
  text-decoration: none;
  color: white;
}

.products-wrapper{
  margin-top: 25px;
}